.navbar-content {
    width: 100%;
    margin-inline: auto;
    height: 64px;
    justify-content: space-between;
    padding: 1rem, 3vw, 5rem;
    background: #000;
}


.navbar-content {
    justify-content:baseline;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 25px;
}

.logo img {
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

.menu-items {
    margin-right: 25px;
    line-height: 1.6;
    gap: 2.5rem;
}

.menu-items a {
    color: #FFF;
    margin-right: 8PX;
    text-decoration: none;
    transition: color ease-in-out .3s;
}


.menu-items a:hover {
    color: rgb(0, 255, 0);
}
