<section id="contact" class="container contact fade-in">
  <h1>Contact</h1>

  <p>
    If you’d like to collaborate or discuss opportunities, feel free to reach
    out.
  </p>

  <ul class="links">
    <li>
      <a href="mailto:jaakko.maatiala@.com">Email</a>
    </li>
    <li>
      <a href="https://github.com/jagetheprogrammer" target="_blank">GitHub</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/jaakko-maatiala-941b20390/" target="_blank">LinkedIn</a>
    </li>
  </ul>
</section>
