.contact {
  padding: 4rem 0;
  max-width: 600px;
}



.links {
  list-style: none;
  padding: 0;
  margin-top: 2rem;

  li {
    margin-bottom: 1rem;
  }

  a {
    font-weight: 500;
    text-decoration: none;
    color: var(--color-primary);
  }
}
