.home-section {
    min-width: 600px;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.home-container {
    min-width: 1200px;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 80vh;
}


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-style: italic;
    margin-top: 300px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    padding: clamp(1rem, 2vw, 3rem);
    position: static;
    text-shadow: 0 4px 8px rgb(92, 92, 92);
    display: flex;
    font-size: 3.7rem;
}



.home-container .info p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    font-size: 1.4rem;
    padding: clamp(1rem, 6vh, 3rem);
    border-radius: 15px;
    background: #000;
    opacity: 0.7;
    color: #fff;
    text-align: center;
}



/* ============================================== */


.about {
    justify-content: center;
    text-align: center;
    color: #fff;
    background: url('../../../public/beautiful-winter-landscape-with-forest.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 80vw;
    display: flex;
}

.about-container h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-style: italic;
    margin-top: 200px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    padding: clamp(1rem, 2vw, 3rem);
    position: static;
    text-shadow: 0 4px 8px rgb(92, 92, 92);
    display: flex;
    font-size: 3.7rem;
}

.about-container p {
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    font-size: 2.4rem;
    padding: clamp(1rem, 6vh, 3rem);
    border-radius: 15px;
    background: #000;
    opacity: 0.7;
    color: #fff;
    text-align: center;
}

ul {
    margin-top: 600px;
    color: #000;
    background-color: #000000;
    opacity: 0.7;
    list-style: disc;
    font-size: 1.2rem;
    max-width: 600px;

    list-style-position: inside;
    border-radius: 15px;

    text-align: left;
    padding: clamp(1rem, 6vh, 3rem);

}

li {
    color: #fff;
}