.home {
    margin-inline: auto;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.home-section {
    height: 100vh;
}

.title span {
    color: rgb(0, 255, 255);
    text-shadow: 0 4px 8px #00ffea;
    text-transform: uppercase;
    font-style: italic;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 8px;
}

.title h1 {
    margin-top: 200px;
    text-shadow: 0 4px 8px #000000;
}

.title h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    text-shadow: 0 4px 8px #000000;
}

.sub-title {
    padding: clamp(1rem, 3vw, 2rem);
    text-align: left;
    max-width: 400px;
    border-radius: 25px;
    background-color: #000000b9;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: clamp(20px, 150px, 80px);
    left:50%;
}

.sub-title span {
    color: rgb(0, 255, 255);
    font-style: italic;
    text-shadow: 0 4px 8px #00f7ff;
}


/* ==================================================== */


.information {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #fff;
    background: url('/bg-snow.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.information-section .title {
    margin-top: 200px;
}
