<section class="home">
    <div class="home-section">
        <div class="title">
            <h1>
                Welcome to <span>Maatiala Dev </span>
            </h1>

        </div>
        <div class="sub-title">
            <p>Maatiala.Dev is owned and coded by <span>Jaakko Maatiala</span>
                this website purpose is to show my skiills like a personal portfolio</p>
        </div>
    </div>

    <div class="information">
        <div class="information-section">
            <br>
            <div class="title">
                <h2>About this Webpage
                    <br>
                    <span>Maatiala.DEV</span>
                </h2>
            </div>
        </div>
    </div>
</section>