<section class="hero">
  <div class="container hero-content">
    <h1>Projects I've participated in:</h1>

    <p class="value">
      I have built scalable, high-performance web applications with a strong focus on
      clean architecture, maintainability, and user experience.
    </p>

    <h3>Shoboffaus.fi under devewelopement Site</h3>
    <p>Shoboffaus.fi is gonna get a new website developed by me.</p>
    <a href="https://project-shoboffaus.vercel.app">Checkout Project ➜</a>
    <br>
    <br>

    <h3>Music Venue AI Inshights</h3>
    <p>Costa Del Sol AI Venue Insights Project was lead by Jaakko Maatiala (me). and it uses n8n to scrape venues with
      maps api.</p>
    <a href="https://venues.maatiala.online">Checkout Project ➜</a>
    <br><br>
  </div>
</section>